certifi==2024.7.4
cffi==1.14.0
chardet==3.0.4
cryptography==42.0.4
decorator==4.4.2
future==0.18.3
idna==3.7
mccabe==0.6.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pylama==7.7.1
python-telegram-bot==12.7
requests==2.32.2
six==1.15.0
snowballstemmer==2.0.0
urllib3==1.26.19
schedule
